.sample-pad data-sample-id=sample.id data-action="click->sample-player#playSample" class="bg-#{sample.color}-500 hover:bg-#{sample.color}-600" style="min-height: 100px;"
  .p-2
    h3.font-bold.text-white.truncate.w-full = sample.label
    .text-white.text-xs.mt-1.opacity-80 = sample.name
